@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    margin:0;
    font-family: system-ui;
    background-color: #0A0819;
    color:#fff;
}
header{
    height:100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
header::before{
    position: absolute;
    width:100%;
    height:100px;
    left:0;
    bottom:0;
    content: '';
    background-image: linear-gradient( to top, #0A0819, transparent);
}
header h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Lobster', cursive;
    font-size: xxx-large;
}
.menuTop .logo img{
    width:60px;
}
.menuTop{
    /* background-color: red; */
    width:1200px;
    padding: 20px;
    max-width: calc(100vw - 40px);
    margin: auto;
    padding-top:10px;
    display: grid;
    grid-template-columns: 10% auto;
}
.menuTop .menu{
    list-style: none;
    padding:0;
    text-align: right;
}
.menuTop .menu li{
    display: inline-block;
    padding:5px 30px;
    text-shadow: 0 0 20px #000;
}
.container{
    width:1200px;
    padding: 20px;
    max-width: calc(100vw - 40px);
    margin: auto;
}
.bigTitle{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    text-align: center;
    margin:130px 0;
}
.bigTitle .des{
    font-size: large;
    max-width: 500px;
    margin: 10px auto;
    color:#ffffff4D;
}
.transport ul{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 20px;
}
.transport li{
    text-align: center;
    color:#ffffff4D;
}
.transport li i{
    display: block;
    margin-bottom: 20px;
    font-size: xxx-large;
    color:#fff;
}
.zoom{
    transform: scale(1);
    transition: 0.5s;
}
.zoom:hover{
    transform: scale(1.2);
}
.checkin{
    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    column-gap: 1%;
    grid-template-rows:  300px 300px;
    row-gap: 10px;
}
.checkin .item{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.checkin img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.checkin .item .content{
    position: absolute;
    bottom:10px;
    left:10px;
}
.checkin .item .content .des{
    opacity: 0.7;
}
.checkin .item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
}
.checkin .item:nth-child(2){
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.fare{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
}
.fare .item{
    background-color: #030D1F;
    border-radius: 20px;
    text-align: center;
    padding:50px;
    box-shadow:  0 0 10px #000;
}
.fare .item i{
    font-size: xx-large;
    margin-bottom: 20px;
}
.fare .item .price{
    font-family: 'Lobster', cursive;
    color:yellow;
    font-size: xx-large;
}
.fare .item ul{
    padding: 0;
    list-style: none;
}
.fare .item ul li{
    padding: 10px;
}
footer{
    background-color: #000;
    margin-top:50px;
    padding:100px 0;
}
footer .content{
    width:1200px;
    padding: 20px;
    max-width: calc(100vw - 40px);
    margin: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
}
footer ul{
    padding: 0;
}
footer .content .item li{
    padding: 10px;
    list-style: none;
    color: #ffffff4D;
}
footer .content .item li:nth-child(1){
    font-family: 'Lobster', cursive;
    color: #fff;
    font-weight: bold;
}
footer h3{
    font-family: 'Lobster', cursive;
}
footer textarea, input{
    display: block;
    border:none;
    width:100%;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    padding:20px 0px;
    opacity: 0.8;
}
footer button{
    width:100%;
    border:none;
    display: block;
    padding:20px 0px;
    border-radius: 4px;
    background-color: #C52515;
    color:#fff;
}
.toggleMenu{
    display: none;
}

@media screen and (max-width: 820px) {
    header{
        height: 50vh;
    }
    .checkin{
        grid-template-columns: auto auto;
        grid-template-rows: 300px 300px 300px 300px;
    }
    .checkin .item:nth-child(2){
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .checkin .item:nth-child(1){
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .checkin .item:nth-child(5){
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .fare{
        column-gap: 5px;
    }
    .fare .item{
        padding: 15px;
    }
    
  }
  @media screen and (max-width: 767px){
    .transport{
        width:100%;
        overflow: auto;
    }
    .transport ul{
        grid-template-columns:  80px 80px 80px 80px 80px 80px;
    }
    .checkin{
        grid-template-columns: 100%;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
    }
    .checkin .item:nth-child(1),
    .checkin .item:nth-child(5){
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .fare{
        grid-template-columns: 100%;
    }
    footer{
        padding:10px;
    }
    footer .content{
        padding:0;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    footer .item:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 4;
        padding-right:20px;
    }
    .menuTop{
        position: fixed;
        padding:20px;
        z-index: 5;
         background-color: #ffffff4D;
    }
    .menuTop .logo img{
        width:30px;
    }
    .menuTop .menu{
        position: fixed;
        left:0;
        top:0;
        height:100%;
        background-color: #ffffff4D;
        backdrop-filter: blur(10px);
        z-index: 6;
        text-align: left;
        width:80%;
        margin: 0;
        transition: 0.5s;
        transform: translate(-100%);
    }
    .menuTop .menu li{
        display: block;
        padding:20px;
    }
    .menuTop .menu.active{
        transform: translate(0);
    }
    .toggleMenu{
        display: block;
        text-align: right;
        text-shadow: 0 0 10px #000;
    }
    
    
  }